version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:80"  # HTTP (optional, for testing)
      - "8443:443" # HTTPS
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: surbhi@postgres
      POSTGRES_DB: money_transfer
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./money_transfer.sql:/docker-entrypoint-initdb.d/money_transfer.sql

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    depends_on:
      - db
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"

volumes:
  db_data: